body{
    background-image: url("../dist/img/background.jpg") !important;
}

.login-wrap{
    margin: 9% auto;
}

.login-box-body{
 max-width: 380px;
 margin:auto;
}

.row{
    margin-bottom:20px
    }
