body{
	font-family: Baskerville,"Baskerville old face","Hoefler Text",Garamond,"Times New Roman",serif;
	color: #999;
}
h1{
	text-align: center;
}
h1 a{
	text-decoration: none;
	color: #000052;
}
h1 a:hover{
	text-decoration: underline;
}
h1 a em{
	color: #9FD8FF;
	font-style: normal;
}
h5{text-align:center;margin-top:-3em;margin-left:-10em}
textarea{width:35em;height:10em}
.kvp{
	padding: 3px;
	margin: 2px;
	overflow: hidden;
	white-space: nowrap;
}
.kvp input.key{
	background: lightblue;
	border: 1px solid #333;
	padding: 3px;
	float:left;
}
.kvp label.key{
  display:inline-block;
  color:black;
  text-transform:capitalize;
  width:8em;
}
.kvp .front, .kvp .actions{
	float: left;
}
.kvp a.another, .kvp a.remove, .kvp a.configure{
	cursor: pointer;
	background: url(images/plus-small.png) no-repeat;
	display: block;
	width: 12px;
	height: 12px;
	margin-top:3px;
	text-indent: -9000px;
	float: left;
}
.kvp a.remove{
	background: url(images/minus-small.png) no-repeat;
}
.kvp a.configure{
	background: url(images/gear-small.png) no-repeat;
}
.object{
	border: 1px dotted #999;
	margin-left: 15px;
	clear:both;
}
.array{
	border: 1px dashed #999;
	margin-left: 15px;
}

.value{
	float: right;
}

.left{
	float: left;
	width: 48%;
}
.right{
	float: right;
	width: 48%;
}
.handle{
	cursor: move;
	background: url(images/arrow-move.png) 0 5px no-repeat;
	display:block;
	float: left;
	width: 20px;
	height: 20px;
	text-indent: -9000px
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; background: #eee}

#reformed{
	clear: both;
	display: block;
	margin: 15px 0;
}


/** github styles **/
.download img{vertical-align:middle}